<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Vue!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container" id="app">
            <h1 class="title" v-bind:title="title">{{ message }}</h1>
            <button class="button" v-on:click="reverseMessage">Reverse Title</button>

            <h2 class="subtitle" v-bind:title="title" v-if="shown">I am hidden!</h2>
            <div class="content">
                <ul>
                    <task-list v-for="task in tasks" v-bind:task="task"></task-list>
                </ul>
            </div>

            <input class="input" type="text" placeholder="Text input" v-model="newTask">
            <button class="button" v-on:click="addTask">Add Task</button>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        Vue.component('task-list', {
            props: ['task'],
            template: '<li>{{ task.task }}</li>'
        })

        new Vue({
            el: '#app',
            data : {
                message: 'Hello Vue!',
                title: 'Vue rendered title',
                shown: false,
                newTask: '',
                tasks : [
                    {task : 'Learn HTML'},
                    {task : 'Learn CSS'},
                    {task : 'Learn Javascript'},
                    {task : 'Learn PHP'},
                ]
            },
            methods: {
                addTask() {
                    this.tasks.push({task: this.newTask});

                    this.newTask = '';
                },
                reverseMessage() {
                    this.message = this.message.split('').reverse().join('');
                }
            }
         })
    </script>
</body>
</html>